<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Custom_Bai1::content_elements"
             title="Test Crud"
             translate="title"
             module="Custom_Bai1"
             sortOrder="10"
             parent="Magento_Backend::content"
             resource="Magento_Backend::admin"/>
        <add id="Custom_Bai1::AlphaMargin"
             title="Alpha Margin"
             translate="title"
             module="Custom_Bai1"
             sortOrder="0"
             parent="Custom_Bai1::content_elements"
             action="custom_bai1/alphamargin"
             resource="Magento_Backend::admin"/>
    </menu>
</config>
